*{
  margin: 0;
  padding: 0;
}
.card{
  width: 300px;
  height: 300px;
  background-color: aqua;
  color: red;
  border: 5px solid blue;
  border-radius: 10px;
  padding: 25px;
  margin: auto;
  text-align: center;
  font: 1.5em sans-serif;
}
.booklist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}
.header{
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1{
  margin: 0;
}
.footer{
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: white;
  position:fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}